.box {
    width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 60px;
    background-color: lightgrey;
    border: 5px solid black;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: 5s;
    transition-timing-function: cubic-bezier();
}
